.mapboxgl-popup-content {
    width: 500px !important;  /* Fixed width */
    max-width: 500px !important; /* Ensures popup doesn't scale */
    height: auto !important; /* Allow content to dictate height */
    background: #fff;
    border-radius: 15px;
    box-shadow: 7px 4px 12px rgb(0 0 0 / 39%);
    padding: 19px 10px 15px;
    pointer-events: auto;
    position: relative;
    border-top: 15px solid #174036;
}

/* Center the popup box on the screen */
.mapboxgl-popup {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 500px !important;
    max-width: 500px !important;
    z-index: 1000;
    pointer-events: auto;
}

.popup-content img {
    display: block;
    margin: 0 auto;
    width: 100% !important;  /* Fixed width to avoid scaling */
    max-width: 450px !important; /* Limit max image size */
    height: auto !important;
}




p {
    text-align: left; /* Keep the paragraph text aligned to the left */
}

a.mapboxgl-ctrl-logo {
    display: none;
}

.mapboxgl-ctrl-bottom-right {
    bottom: 0;
    right: 0;
    display: none;
}

.custom-marker {
    width: 38px;
    height: 58px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

img .portrait{
    width: 240px;
}

.popup-content p {
    font-size: 21px;
    margin-top: 10px;
}

.mapboxgl-popup-close-button {
    background-color: transparent;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    position: absolute;
    right: -3px;
    top: -9px;
    font-size: 30px;
}

/* Hide the default popup pointer */
.mapboxgl-popup-tip {
    display: none !important;
}


/* Mobile-specific styling */
@media screen and (max-width: 768px) {
    #custom-popup {
        width: 95%;  /* Use 95% of screen width */
        max-height: 80vh; /* Adjust height */
    }

    /* Improve popup text readability on small screens */
    .popup-content p {
        font-size: 14px;
        line-height: 1.5;
        padding: 5px 10px;
    }

    /* Increase spacing between markers for better tapping */
    .custom-marker {
        width: 35px !important;
        height: 50px !important;
    }

    #close-popup{
        top:-3px;
        right:17px;
    }
}

